name: Build

on:
  push:
    tags:
      - "v*"
    paths:
      - "src/**"
      - ".github/workflows/build.yml"
      - "xmake.lua"

permissions:
  contents: write

jobs:
  cancel-old-build:
    name: Cancel previous builds
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  build-win:
    runs-on: windows-latest
    needs: cancel-old-build
    timeout-minutes: 15

    strategy:
      fail-fast: true
      matrix:
        mode:
          - release-client
          - release-rcc

    steps:
      - uses: actions/checkout@v4

      - name: Setup xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Installing vcpkg
        run: |
          git clone https://github.com/Microsoft/vcpkg.git .vcpkg
          cd .vcpkg
          .\bootstrap-vcpkg.bat
          cd ..

      - name: Build
        env:
          VCPKG_ROOT: ${{ github.workspace }}/.vcpkg
        run: |
          xmake config --mode=${{ matrix.mode }} --verbose --yes
          xmake build --verbose --yes --all

      - name: Archive build
        run: |
          mkdir artifacts
          xcopy build\${{ matrix.mode }} artifacts\ /E /I /Y
          powershell Compress-Archive artifacts ${{ matrix.mode }}.zip

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.mode }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
